[Desktop Entry]
Comment=Terminal for the Browser
Exec=/usr/bin/dinaterm
GenericName[en_US]=Terminal Emulator
GenericName=Terminal Emulator
Icon=dina-term
Name[en_US]=DinaTerm
Name=DinaTerm
Path=
StartupNotify=true
StartupWMClass=dinaterm
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
Actions=stop;fullscreen;

[Desktop Action stop]
Name=Quit
Icon=exit
Exec=/usr/bin/dinaterm --stop

[Desktop Action fullscreen]
Name=Open in fullscreen
Icon=fullscreen
Exec=/usr/bin/dinaterm --fullscreen
